* {
    margin: 0;
}

.container {
    width: 100%;
    margin: auto
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 225, 0);
    color: rgb(0, 98, 255);
    padding: 10px;
}

li {
    display: inline-block;
    font-size: 20px;
    padding: 5px;
}

